* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* text-align: center; */
}

#nav {
    background-color: lightcyan;
    border-bottom: 1px blanchedalmond;
    padding: 10px 10px;
    border-bottom: 1px black dashed;
    display: flexbox;
   
    

}

.main-title {
    font-size: 2rem;
    align-items: start;
    display: inline-block;
    justify-content: start;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    
}


.container {
    background-color: burlywood;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 100px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 20px;

}


.container h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    

}

#reset-btn {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.minus-btn  {
 padding: 10px 20px;
 margin: auto;
 font-size: 2rem;
}

.plus-btn {
    padding: 10px 20px;
 margin: auto;
 font-size: 2rem;

}


.container input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 5px;
}

.container p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic ;
    padding: 5px;
}

.sub-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-style: italic;
}